{% extends "./base.html" %}

{% block title %} GZ | Artistas {% endblock %}

{% block body %}
{% load static %}

   <div style="margin-top: 5cm;
               margin-bottom: -3cm;
               margin-left: 10%;
               margin-right: 10%;
               max-width: 1000px; 
               justify-content: center;
               text-align: center; 
               box-sizing: border-box;
               display: block;
               position: relative;
               flex-wrap: wrap;">
               
        <h1 style="color: black;">Artistas <hr></h1>
   </div>
    <div class="cuerpoGZ">
        
        <div class="containeerGZ" style="box-sizing: border-box;" >
            <div class="cardGZ">
                <figure>
                    <img src="{% static 'img/Artistas/MaryGilbert.jfif' %}" style="width: 410px; height: 410px;" alt="">
                </figure>
                <div class="contenidoGZ">
                    <h3>Mary Gilbert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nobis explicabo impedit beatae
                        commodi blanditiis at hic, modi consequatur laborum?</p>
                    <a href="#">Ver más</a>
                </div>
            </div>
            <div class="cardGZ">
                <figure>
                    <img src="{% static 'img/Artistas/OlsenMontgomery.jfif' %}" style="width: 410px; height: 410px;" alt="">
                </figure>
                <div class="contenidoGZ">
                    <h3>Olsen Montgomery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nobis explicabo impedit beatae
                        commodi blanditiis at hic, modi consequatur laborum?</p>
                    <a href="#">Ver más</a>
                </div>
            </div>
            <div class="cardGZ">
                <figure>
                    <img src="{% static 'img/Artistas/NaomiThompson.jfif' %}" style="width: 410px; height: 410px;" alt="">
                </figure>
                <div class="contenidoGZ">
                    <h3>Naomi Thompson</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nobis explicabo impedit beatae
                        commodi blanditiis at hic, modi consequatur laborum?</p>
                    <a href="#">Ver más</a>
                </div>
            </div>
            <div class="cardGZ">
                <figure>
                    <img src="{% static 'img/Artistas/TylerRoberson.jfif' %}" style="width: 410px; height: 410px;" alt="">
                </figure>
                <div class="contenidoGZ">
                    <h3>Tyler Roberson</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nobis explicabo impedit beatae
                        commodi blanditiis at hic, modi consequatur laborum?</p>
                    <a href="#">Ver más</a>
                </div>
            </div>
        </div>
    </div>


{%endblock%}