{% extends "./base.html" %}

{% block title %} GZ | Obras {% endblock %}

{% block body %}
{% load static %}

<div class="container1GZ">
    <div class="headingGZ">
        <h3>Galería de obras</h3>
    </div>
</div>
    <div class="boxGZ">
        
        <!-- <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/Palacio.png' %}"  height="462" alt="">
            
            
            <a target="_blank" 
            href="BlueGhost.html">
                <img src="{% static 'img/Destacados/BlueghostR.png' %}" height="462" alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Flores/FAZR.png' %}" height="462" alt="">
            <img src="{% static 'img/Pinturas/Animales/CuervoR.png' %}" height="462" alt="">
        </div>

        <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/Copa.png' %}" height="460" alt="">
            
            
            <a target="_blank" 
            href="MrBlue.html">
            <img src="{% static 'img/Destacados/MrBlueR.png' %}" height="460" alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Flores/FRosaAzulR.png' %}" height="460" alt="">
            <img src="{% static 'img/Pinturas/Animales/GatoR.png' %}" height="460" alt="">
        </div>

        <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/Corazon.png' %}" height="355" alt="">
            <img src="{% static 'img/Pinturas/cubo.png' %}" height="355" alt="">
            
            
            <a target="_blank" 
            href="MrBlueSky.html">
            <img src="img/Destacados/MrblueSkyR.png" height="355" alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Flores/FAZR.png' %}" height="355" alt="">
        </div>

    <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/Pocion.png' %}" height="450" alt="">
            
            <a target="_blank"
            href="Sky.html">
            <img src="{% static 'img/Destacados/SkyR.png' %}"  height="450" alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Retratos/MNarnajoR.png' %}" height="450" alt="">
            <img src="{% static 'img/Pinturas/Animales/AbejaR.png' %}" height="450" alt="">
        </div>

        <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/RedPalacio.png' %}" height="462"alt="">
            
            <a target="_blank"
            href="SoLong.html">
            <img src="{% static 'img/Destacados/SolongR.png' %}" height="462"alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Retratos/MRojoR.png' %}" height="462"alt="">
            <img src="{% static 'img/Pinturas/Flores/ColoresFR.png' %}" height="462"alt="">
        </div>

        <div class="dreamGZ">
            <img src="{% static 'img/Pinturas/Urbano/SmileyR.png' %}" height="450"alt="">
            
            <a target="_blank" 
            href="Petalos.html">
            <img src="{% static 'img/Destacados/PetalosR.png' %}" height="450"alt=""></a>
            
            
            <img src="{% static 'img/Pinturas/Flores/ColoresFR.png' %}" height="450"alt="">
            <img src="{% static 'img/Pinturas/Retratos/MBronceR.png' %}" height="450"alt="">
        </div> -->
        
        <div class="dreamGZ">
            {% for cur in VistaObra %}
           
            <img src="{{cur.img.url}}" height="450"alt="">
            
            <a target="_blank" 
            href="#">
            <img src="{{cur.img.url}}" height="450"alt=""></a>
            
            
            <img src="{{cur.img.url}}" height="450"alt="">
            <img src="{{cur.img.url}}" height="450"alt="">
            {% endfor %}
        </div>
        
    </div>



{% endblock %}