*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

/* Logo y navbar */
:root{
    --bg-color: #12162B;
    --text-color: #fff;
    --main-color:  #171d36;
    --ho-color: #222b50;
    /*#8C0344;*/
    /*#a8386a;*/

}
/* body{
    min-height: 100vh;
    background-color: white;
    background: var(--bg-color); 
    color: var(--text-color);
} */

.bodyGZ{
    min-height: 100vh;
    background-color: white;
    color: var(--text-color);
}
.headerGZ{
    position: fixed;
    width: 100%;
    height: 60px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    background: var(--bg-color);
}
/* header{
    position: fixed;
    width: 100%;
    height: 60px;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    background: var(--bg-color);
} */
.logoGZ{
    display: flex;
    align-items: center;
}
.logoGZ img{
    position: absolute;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 5cm;
    margin-bottom: 2cm;
    height: 50px;
    width: 50px;

}

.navbarGZ{
    display: flex;
    color: var(--main-color);
}

.navbarGZ a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: -10px -10px;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbarGZ a:hover{
    background-color: var(--ho-color);
    padding: 6px 10px;
    border-radius: 5px; 

     
}

.navbarGZ a.activeGZ{
    color: var(--text-color);
    padding: 6px 10px;
    border-radius: 5px; 
    background-color: var(--ho-color);
}

.mainGZ{
    display: flex;
    align-items: center;

}

.mainGZ a {
    margin-right: 25px;
    margin-left: 10px;
    color:var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.userGZ {
    display: flex;
    align-items: center;
    color: var(--bg-color);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .50s ease; 
    

}

.registerGZ {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 5px; 
    font-weight: 500;
    transition: all .50s ease;
    /* color: var(--bg-color); */


}

.userGZ i{
    color: var(--text-color );
    font-size: 28px;
    margin-right: 7px;
    
    
}

.mainGZ a:hover{
    color: var(--text-color);
    background-color: var(--ho-color);
}

#menu-iconGZ{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* Navbar responsiva */

@media (max-width: 1280px){
    .headerGZ{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbarGZ a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-iconGZ{
        display: block;
    }

    .navbarGZ{
        position: absolute;
        top: 100%;
        margin-right: -8mm;
        right: -100%;
        width: 270px; /*270*/
        height: 29vh;
        color: var(#222b51);
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease; 

    }
    .navbarGZ a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbarGZ a:hover{
        color: var(--text-color);
        transform: translate(5px);
    }

    .navbarGZ a.activeGZ{
        color:var(--text-color)
    }

    .navbarGZ.openGZ{
        
        padding-top: 2mm;
        right: 2%;
        height: 230px;
        background-color: var(--bg-color);

    }
}

/* Footer */
.containerGZ{
    max-width: 1170px;
    background-color: var(--bg-color);
    margin: auto;

}
.rowGZ{
    display: flex;
    flex-wrap: wrap;
}
.footerGZ{
    background-color: var(--bg-color);
    padding: 70px 0px;

}
.ulGZ{
    list-style: none;
}
.liGZ{
    list-style: none;
}

.footer-colGZ{
    width: 25%;
    padding: 0 15px;
}
.footer-colGZ h4{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 400;
    position: relative;

}
.footer-colGZ h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #8C0344;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-colGZ .ulGZ .liGZ:not(:last-child){
    margin-bottom: 10px;
}
.footer-colGZ .ulGZ .liGZ a{
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 200;
    color: #d3d3d3;
    display: block;
    transition: all .50s ease;
}
.footer-colGZ .ulGZ .liGZ a:hover{
    color: #a8386a;
    padding-left: 5px;
}
.footer-colGZ .social-linksGZ a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--ho-color);
    margin-right:  0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: var(--text-color);
    transition: all .50s ease;
}
.footer-colGZ .social-linksGZ a:hover{
    color: #a8386a;
    background-color: var(--text-color);
}
/* Footer responsivo */
@media(max-width: 767px){
    .footer-colGZ{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-colGZ{
        width: 100%;
    }
}

/* Carrusel */
.mySlides{
    display: flex;
}
.PGZ{
    display: inline-table;
    vertical-align: 600%;
    padding-left: 20%;
    text-align: center;
    font-size: 25px;
}


.slideshow-containerGZ{
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    align-items: center;
    position: relative;    
    margin: auto;
    background-color:var(--bg-color); 
}
.prevGZ, .nextGZ{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    transition: all .50s ease;
    border-radius: 0 3px 3px 0;
    
}
.nextGZ{
    right: 0;
    border-radius: 3px 0 0 3px ;
}

.prevGZ:hover, .nextGZ:hover{
    color: #a8386a
}
.textGZ {
    color: var(--text-color);
    font-size: 15px;
    padding: 10px 800px;
    position: absolute;
    width: 100%;
    
}
.numbertextGZ{
    color: #a8386a;
    font-size: 10px;
    padding: 10px 60px;
    position: absolute;
    margin: 0;
}

/* Carrusel responsivo */

@media only screen and (max-width:300px){
    .prevGZ, .nextGZ, .textGZ{
        font-size: 11px;
    }
}
@media only screen and (max-width:500px){
    .prevGZ, .nextGZ, .textGZ{
        font-size: 14px;
    }
}

/* Productos */

.small-containerGZ{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--main-color);


}
.rowwGZ{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-productGZ{
    margin-top: 80px;
}
.col-2GZ img{ 
    max-width: 100%;
    padding: 50px 0;
}
.single-productGZ .col-2GZ img{
    padding: 0;
}
.single-productGZ .col-2GZ{
    padding: 20px;
}
.col-2GZ{
    flex-basis: 50%;
    min-width: 300px;
    background-color: var();
    padding-bottom: cm;
}
.col-2GZ h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.single-productGZ h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
} 
.btn1GZ{
    display: inline-block;
    background-color: var(--main-color);
    color:var(--text-color);

    padding: 8px 30px;
    margin: .5cm 0 0 0 ;
    border-radius: 30px;
    transition: all .50 ease;
    border: 1px solid var(--text-color);
}
.btn1GZ:hover{
    background: var(--text-color);
    color: #a8386a;
    transition: all .50 ease;
}

/*Artistas*/

.containeerGZ{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    max-width: 1500px;
}
.cuerpoGZ{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.cardGZ {
    width: 100%;
    margin: 8px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--main-color);
    box-shadow: 0px 1px 10px rgba(0, 0 , 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    height: 650px;
    margin-bottom: 2cm;
    margin-top: 4cm;
}
.cardGZ img{
    width: 100%;
    height: 210px;
    justify-content: center;
    text-align: center;

}
.cardGZ .contenidoGZ{
    padding: 15px;
    text-align: center;
}
.cardGZ:hover{
    transform: translateY(-2%);
}
.cardGZ .contenidoGZ p{
    font-size: 13.5px;
    line-height: 1.5;
    padding-top: 3mm;
    padding-bottom: 1mm; 
    display: inline-block;
    color: #d3d3d3;
    /* padding-left: 5mm;
    padding-right: 5mm; */
}
/* .card .contenido h3{
    /* margin-top: 3mm;
} */
.cardGZ .contenidoGZ a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:var(--text-color);
    background-color: var(--ho-color);
    width: 100px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    transition: all 400ms ease;
}
.cardGZ .contenidoGZ a:hover{
    color: #a8386a;
    background-color: var(--text-color);
    
}


.Tituloartista{
    margin-top: 5cm;
               margin-bottom: -3cm;
               margin-left: 10%;
               margin-right: 10%;
               /* max-width: 1000px;  */
               width: 80%;
               justify-content: center;
               text-align: center; 
               box-sizing: border-box;
               display: block;
               position: relative;
               flex-wrap: wrap;
}
.Tituloartista h1{
    font-size: bold;
    background: #000;
}
/* Galería de obras */

.container1GZ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;

}
.container1GZ .headingGZ{
    width: 50%;
    padding-bottom: 50px;

}

.container1GZ .headingGZ h3{
    font-size: 3em;
    font-weight: 600;
    color: black;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    margin-top: 5cm;
}

.container1GZ .boxGZ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}
.boxGZ{

    justify-content: space-between;
    text-align: center; 
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    align-items: center;
    margin: 40px 20px 0 20px; 
}
.container1GZ .boxGZ .dreamGZ{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container1GZ .boxGZ .dreamGZ img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
.IntroGZ{
    
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-top: -4cm;
}
.IntroGZ .Intro1GZ{
    font-size: 2em;
    font-weight: 400;
    color: black;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    margin-top: 5cm;
}

/* Galería responsiva*/ /*No sirve porque lo hice con otras cajas - Gm*/

@media only screen and (max-width: 769px){
    .container1GZ .boxGZ{
        flex-direction: column;
    }
    .container1GZ .boxGZ .dreamGZ{ 
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    .container1GZ .headingGZ{
        width: 100%;
    }
    .container1GZ .headingGZ h3{
        font-size: 1em;
    }
}




/* TABLA DE DATOS
body .talbaGZ{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

}

.tableGZ{
    width: 100%;

}

.table_headerGZ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    flex-wrap: wrap;
}

.table_headerGZ p{
    color: #000000;

}

.add_newGZ{
    padding: 10px 20px ;
    color: #ffffff;
    background-color: #0298cf;
    
    
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

td button:nth-child(1){
    background-color: #0298cf;
}

td button:nth-child(2){
    background-color: #f80000;
}

.add_newGZ button{
    padding: 10px;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color: #0298cf;
}

.table_sectionGZ{
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img{
    height: 60px;    
    width: 60px;
    object-fit:  scale-down;
    border-radius: 15px;
    border: 1.5px solid #8493a5;
}

tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}

::placeholder{
    color: #0298cf;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */



















/* JC */
html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}




.search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 20px;
}

.search-form input[type="text"] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    outline: none;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-form button i {
    color: var(--blanco);
    font-size: 1.2rem;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
