{% extends "./base.html" %}

{% block title %} GZ | Artistas {% endblock %}

{% block body %}
{% load static %}

   <div class="Titutloartista" 
        style="margin-top: 5cm;
               margin-bottom: -3cm;
               margin-left: 10%;
               margin-right: 10%;
               /* max-width: 1000px;  */
               width: 80%;
               justify-content: center;
               text-align: center; 
               box-sizing: border-box;
               display: block;
               position: relative;
               flex-wrap: wrap;">
   
        <h1 style="color: black;">Artistas <hr style="height:3px; background: black;"></h1>  
        <div>
            <a href="{% url 'gestArtista' %}" style=" 
            display: block;
            justify-content: center;
            flex-wrap: wrap;
                text-align: center;   
                text-decoration: none;
                display: inline-block;
                padding: 5px;
                margin-top: 10px; 
                font-size: small;
                color:var(--bg-color); 
                background-color: var(--text-color);
                width: 100px;
                border-radius: 20px;
                border: 1px solid var(--ho-color);
                transition: all 400ms ease;">Gestionar</a>
        </div> 
    </div>

    
    
    <div class="cuerpoGZ">
        
        <div class="containeerGZ" style="box-sizing: border-box;" >
        {% for ar in artistas %}
         <div class="cardGZ">
                
                <figure>
                    <img src="{{ar.fotoAr.url}}" style="width: 410px; height: 410px;" alt="">
                </figure>

                <div class="contenidoGZ">
                    <h3>{{ar.nombreAr}} {{ar.apellidoAr}}</h3>
                    <p>{{ar.descAr}}</p>
                    <br>
                    <a href="#">Ver más</a>
                </div>
    
            </div>

            {%endfor%}
        </div>
    </div>
  
{%endblock%}