{% extends "./base.html" %}
{% block title %} GZ | Compra {% endblock %}

{% block body %}
{% load static %}

<Section style="background: #12162B; margin-top: -20px; padding-top: 15px;">
    <div class="small-containerGZ single-productGZ">
        <div class="rowwGZ">
            <div class="col-2GZ">
                <img src="{% static 'img/Destacados/MrBlueR.png' %}" width="100%" alt="" id="ProductImg">
            </div> 
            <div class="small-containerGZ">
                <p>Obras/Productos</p>
                <h1>Mr.Blue</h1>
                <h4>$2.000</h4>
                <h3>Acerca de</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="" class="btn1GZ">Comprar</a>
                
                <br>
            </div>
        </div>
    </div>
</Section>

{% endblock %}
