{% extends "../GroundZero/baseingreso.html" %}

{%block title%} GZ | Register {% endblock %}

{% block body %}
{% load static %}

<!-- Registro ingreso -->

<div class="center">
    <h1>Registro</h1>
    <form method="post">
        <div class="txt_field">
            <ion-icon name="person-outline"></ion-icon>
            <label>Nombre Usuario</label>
            <input type="text" required minlength="4"
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}"
                title="solo letras" autocomplete="off">
        </div>

        <div class="txt_field">
            <ion-icon name="mail-outline"></ion-icon>
            <label>Correo electrónico</label>
            <input type="email" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                title="considera formato" autocomplete="off" />
        </div>




        <div class="txt_field">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <label for="userPassword">Contraseña</label>
            <input type="password" id="userPassword" required minlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
                title="Debe contener al menos 8 caracteres, incluyendo al menos una letra minúscula, una mayúscula y un número">
        </div>

        <div class="txt_field">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <label for="confirmPassword">Confirmar contraseña</label>
            <input type="password" id="confirmPassword" required minlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$" title="no es igual">
        </div>

        <input type="submit" value="registro">

        <div class="link_Ayuda">
            ¿Olvidó su contraseña? <a href="#"> Clic aquí</a>
        </div>
</div>

{% endblock %}